

*{box-sizing: border-box;}

body{
    
    font-size: 18px;
    align-items:center;
    justify-content: center;

    
}
header{  
    font-family: 'Baloo Bhai 2', cursive;   
    justify-content: center;
    align-items: center;  
    text-align: center;

}
.subtitulo{
    padding: 12px;
    font-family: 'Rubik', sans-serif;
}
main{

    margin-left:20px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
a.mailVerde{
    padding: 12px;
   color:#35cc61; 
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    display: inline-block
    
}
 footer{
  
   padding-left: 12px ;
   font-family: 'Rubik', sans-serif;
   align-items: center;
   display: flex;
   justify-content: center;
   
}
.facebook{
    padding-left: 12px;
    padding-right: 12px;
}
.twiter{
    padding-left: 12px;
    padding-right: 12px;
}
.instagram{
    padding-left: 12px;
    padding-right: 12px;
}
.linkedin{
    padding-left: 12px;
    padding-right: 12px;
}


.formulario_tittle{
    font-family: 'Baloo Bhai 2', cursive;  

}

form{
    
    margin:12px;
    padding: 12px 12px;
    background-color: #EBFAEF;;
    max-width: 400px;
    padding-top: 10px;
   
    

}
input{
    width: 100%;
    padding: 10px 10px;
   
}
#subject{
    
    margin-top: 12px;
    text-align: center;
}
#mensaje{
    height: 100px;
    margin-top: 12px;
    text-align: center;
}
#name{
    margin-top: 12px;
    text-align: center;
}
#tel{
    margin-top: 12px;
    text-align: center;
}

#email{
    margin-top: 12px;
    text-align: center;
}
#enviar{
    margin-top: 12px;
    text-align: center;
}

@media all and (min-width: 600px) {
    body{
        display: flex;
        width: 100%;
    }

    form{
        padding: 20px 20px;
        margin-top: 60px;
        margin-left: 24px;
        min-width: 300px;
    }

}
@media all and ( min-width:1024px){
    body{
        
      
    }


}
